In [30]:
import pandas as pd
df=pd.read_csv("line_details.csv")
# delete the second and third column
df.drop(df.columns[[5,6,7,8,9,10,11,12]], axis=1, inplace=True)

   word_x1  word_y1  word_x2  word_y2       word
0     1341      169     1361      201         Il
1     1379      169     1535      201      SHREE
2     1551      169     1844      201  GANESHAYA
3     1862      169     2028      201      NAMAH
4     2047      169     2067      201         II

In [31]:
ids=10
template = {
    "id": 0,
    "text": [],
    "box": []
  }

In [36]:
output={
    "form": []
}

In [38]:
# iterate over the dataframe
for index, row in df.iterrows():
    # create a new label
    label=template.copy()
    # set the label id
    label['id']=str(ids)
    # set the label text
    label['text']=row['word']
    # set the label box
    label['box']=[row['word_x1'],row['word_y1'],row['word_x2']+row['word_y2']]
    # add the label to the output
    output['form'].append(label)
    # increment the label id
    ids+=1
output['form'][:10]

[{'id': '10',
  'text': 'Il',
  'box': [1341, 169, 1562],
  'linking': [[]],
  'words': []},
 {'id': '11',
  'text': 'SHREE',
  'box': [1379, 169, 1736],
  'linking': [[]],
  'words': []},
 {'id': '12',
  'text': 'GANESHAYA',
  'box': [1551, 169, 2045],
  'linking': [[]],
  'words': []},
 {'id': '13',
  'text': 'NAMAH',
  'box': [1862, 169, 2229],
  'linking': [[]],
  'words': []},
 {'id': '14',
  'text': 'II',
  'box': [2047, 169, 2268],
  'linking': [[]],
  'words': []},
 {'id': '15',
  'text': 'TAX',
  'box': [1608, 261, 2008],
  'linking': [[]],
  'words': []},
 {'id': '16',
  'text': 'INVOICE',
  'box': [1729, 261, 2236],
  'linking': [[]],
  'words': []},
 {'id': '17',
  'text': 'Mob:8898933669',
  'box': [3003, 268, 3669],
  'linking': [[]],
  'words': []},
 {'id': '18',
  'text': 'i',
  'box': [1417, 367, 1840],
  'linking': [[]],
  'words': []},
 {'id': '19',
  'text': '-',
  'box': [2250, 367, 2674],
  'linking': [[]],
  'words': []}]